<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="box">
        <h1>Todo List</h1>
    </div>
    <div class="box">
        <% ejes.forEach((item)=>{%>
            <div class="item">
                <input type="checkbox" name="checkbox1" value="<%=item._id %>" id="" onchange="this.form.submit()">
                <p><%= item %></p>
            </div>
            <form action="" method="post">
                
            </form>
            
            
           <%  })%>  
    
        <form action="/" method="post">
            <input type="text" name="ele1" id="ele1" placeholder="Enter the item" required>
            <button type="submit">+</button>
        </form>
    </div>
</body>
</html>